<VirtualHost *:{{ http_port }}>
    Protocols h2 http/1.1
    ServerAdmin {{ admin_email }}
    ServerName {{ domain }}
    ServerAlias www.{{ domain }}
    DocumentRoot {{ document_root }}
    RewriteEngine On
    RewriteRule "!\.+" "/index.html" [PT]
    ErrorLog {{ logs_dir }}/error.log
    CustomLog {{ logs_dir }}/access.log combined
</VirtualHost>
