<VirtualHost *:{{ http_port }}>
    Protocols h2 http/1.1
    ServerAdmin {{ admin_email }}
    ServerName {{ domain }}
    ServerAlias www.{{ domain }}
    DocumentRoot {{ document_root }}
    RewriteEngine On
    {% if https == true %}
    RewriteCond %{HTTPS} off
    RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L,QSA]
    {% endif %}
    RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
    RewriteRule ^ %{REQUEST_SCHEME}://%1%{REQUEST_URI} [R=301,L,QSA]
    RewriteRule "!\.+" "{{ entrypoint }}"
    ErrorLog "|/usr/bin/tee -a {{ logs_dir }}/error.log ${APACHE_LOG_DIR}/error.log"
    CustomLog {{ logs_dir }}/access.log combined
    CustomLog ${APACHE_LOG_DIR}/access.log combined
</VirtualHost>
