<VirtualHost *:{{ http_port }}>
    Protocols h2 http/1.1
    ServerAdmin {{ admin_email }}
    ServerName {{ domain }}
    ServerAlias www.{{ domain }}
    DocumentRoot {{ document_root }}
    RewriteEngine On
    RewriteRule "!\.+" "{{ entrypoint }}"
    ErrorLog "|/usr/bin/tee -a {{ logs_dir }}/error.log ${APACHE_LOG_DIR}/error.log"
    CustomLog {{ logs_dir }}/access.log combined
    CustomLog ${APACHE_LOG_DIR}/access.log combined
</VirtualHost>
